<div class="d-flex align-items-center  w-100">
    <div class="banner rounded-top text-white d-flex justify-content-center flex-wrap container-fluid pb-3" [ngStyle]="{'background-image': 'url(' + persona.banner + ')'}">
      <div class="div-img-fotoPerfil ">
        <div>              
          <img src={{persona.img}} alt="Foto de Perfil" id="img-fotoPerfil" class="img-fluid mt-4 pt-3 mb-0 rounded-circle">
        </div>
      </div>
      <div class="ms-5 pt-5 mt-5" >
        <div>
          <h2 class="titulo-nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        </div>
        <div>
          <h3 class="titulo-profesion">{{persona.titulo}}</h3>
        </div>
      </div>
    </div>
</div>
