<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="img-banner rounded-top text-white d-flex flex-row">
      <div class="div-img-fotoPerfil ms-4 flex-column">
        <div><div class="float-end">
          <div class="btn btn-outline-success display-none"></div></div>
              
        <img src="../../../assets/imagenes/fotoPerfil.jpg"
          alt="Foto de Perfil" id="img-fotoPerfil" class="img-fluid mt-4 pt-3 mb-0 rounded-circle"></div>
          <div class="d-flex justify-content-center">
          <input type="file" id="file2" class="display-none"></div>
          </div>
      <div class="ms-5 pt-5 mt-5" >
        <div class="float-end mt-0 pt-0">
          <div class="btn btn-outline-success display-none">
          </div></div>
          <div>
        <h2 class="titulo-nombre">{{persona.nombre}} {{persona.apellido}}</h2></div>
        <div>
          <input id="edit-nombre" class="display-none" type="text">
        </div>
        <div class="float-end mt-0 pt-0">
          <div class="btn btn-outline-success display-none">
          </div></div>
          <div>
        <h3 class="titulo-profesion">Desarrolladora Fullstack en proceso.. 🔜 </h3></div>
        <div>
          <input id="edit-profesion" class="display-none" type="text">
        </div>
      </div>
    </div>
    
    
</div>
