.img-banner{
    background-image: url("../../../assets/imagenes/banner.jpeg"); 
    height:250px;
}
.div-img-fotoPerfil{
    width: 200px;
}
.img-fotoPerfil{
    width: 200px; z-index: 1
}
.titulo-nombre{
    font-family: 'Marko One', serif;
}
.titulo-profesion{
    font-family: 'Monofett', cursive;
}

.display-none{
    display: none;
}

