.banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgb(23, 23, 23);
    min-height:5rem;
    width: 100%;
}
.div-img-fotoPerfil{
    width: 15rem;
}
.img-fotoPerfil{
    width: 15rem; z-index: 1
}
.titulo-nombre{
    font-family: 'Marko One', serif;
}
.titulo-profesion{
    font-family: 'Monofett', cursive;
}


