.img-banner{
    background-image: url("../../../assets/imagenes/banner.jpeg");
    min-height:5rem;
}
.div-img-fotoPerfil{
    width: 15rem;
}
.img-fotoPerfil{
    width: 15rem; z-index: 1
}
.titulo-nombre{
    font-family: 'Marko One', serif;
}
.titulo-profesion{
    font-family: 'Monofett', cursive;
}

.display-none{
    display: none;
}

