<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="d-flex">
      <div class="divEducacion d-flex justify-content-end">
      <p class="lead mx-3">EDUCACIÓN</p>
      </div>
      <div class="divAgregar d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success"  routerLink="/nuevaedu" *ngIf="isLogged">
          Agregar educación 
        </button>
      </div>
    </div>
    <table class="">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td><h5>{{Educacion.nombreE}}</h5></td>
          <td>{{Educacion.descripcionE}}</td>
          <td *ngIf="isLogged"><button class="btn btn-outline-success" routerLink="/editedu/{{Educacion.id}}">✍</button></td>
          <td *ngIf="isLogged"><button class="btn btn-outline-danger" (click)="delete(Educacion.id)">❌</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>