ul{
    list-style: none;
}
*{
    font-family: 'Life Savers', cursive;
    font-weight: bold;
}
p{
    font-weight: bold;
}
.display-none{
    display: none;
}
.imgEducacion{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}