*{
    font-family: 'Life Savers', cursive;
    font-weight: bold;
}
.educacion{
    background-color: #FFCD3C;
}
.card-img-top{
    margin: 0.4rem 0.4rem;
    width: 24rem !important;
    height: 14rem !important;
    object-fit: cover;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
}
.card, li{
    color: black;
    background-color: #ff663c;
}
.card:hover{
    transform: scale(1.1);
}
@media (max-width:425px){
    .card-img-top{
        margin: 0.5rem 0.5rem;
        width: 21rem !important;
        object-fit: cover;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
    }
}
@media (max-width:375px){
    .card-img-top{
        margin: 0.5rem 0.5rem;
        width: 18rem !important;
        object-fit: cover;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
    }
}
@media (max-width:320px){
    .card-img-top{
        margin: 0.5rem 0.5rem;
        width: 12.5rem !important;
        object-fit: cover;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
    }
}