<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="d-flex">
      <div class="divEducacion d-flex justify-content-end">
      <p class="lead mx-3">EDUCACIÓN</p>
      </div>
      <div class="divAgregar d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success"  routerLink="/nuevaedu" *ngIf="isLogged">
          Agregar educación 
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;" *ngFor="let Educacion of educacion">
      <img class="card-img-top" src="{{Educacion.imgE}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{Educacion.nombreE}}</h5>
        <p class="card-text">{{Educacion.descripcionE}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{Educacion.tituloE}}</li>
        <li class="list-group-item">{{Educacion.fechaE}}</li>
        <li class="list-group-item" *ngIf="isLogged"><button class="btn btn-outline-success" routerLink="/editedu/{{Educacion.id}}">✍</button><button class="btn btn-outline-danger" (click)="delete(Educacion.id)">❌</button></li>
      </ul>
    </div>
  </div>
</div>