<div class="container-fluid mt-5 ">
    <p class="lead mx-5">PROYECTOS</p>
<!--     <div class="container-fluid" *ngFor="let proyecto of proyectoList">
    <div class="row d-flex mx-1 mb-3">
      <div class="col-auto mx-3 col-proyectos-ancho">
      <a href="#" target="_blank"><img class="rounded" src="../../../assets/imagenes/logoPortfolio.jpg" alt="Imagen Proyecto" width="300px" height="190px"></a>
        <h5 >{{proyecto.titulo}}</h5>
        <p> {{proyecto.fecha}} </p> 
        <p> {{proyecto.descripcion}}</p>  
      </div>
    </div>
    </div>  -->
    </div>