*{
    font-family: 'Life Savers', cursive;
    font-weight: bold;
}
.proyecto{
    color: black;
    background-color: #35D0BA;
}
.card-img-top{
    margin: 0.4rem 0.4rem;
    width: 25rem !important;
    object-fit: cover;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
}
.card, li{
    color: aliceblue;
    background-color: #067e82;
}
.card:hover{
    transform: scale(1.1);
}
@media (max-width:425px){
    .card-img-top{
        margin: 0.5rem 0.5rem;
        width: 19rem !important;
        object-fit: cover;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
    }
}
@media (max-width:375px){
    .card-img-top{
        margin: 0.5rem 0.5rem;
        width: 16rem !important;
        object-fit: cover;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
    }
}
@media (max-width:320px){
    .card-img-top{
        margin: 0.5rem 0.5rem;
        width: 12.5rem !important;
        object-fit: cover;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.39);
    }
}