<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="d-flex justify-content-between">
      <p class="lead mx-3">EXPERIENCIA</p>
      <div class="ml-5">
        <button type="button" class="btn btn-outline-success"  routerLink="/nuevaexp" *ngIf="isLogged">
          Nueva experiencia 
        </button>
      </div>
    </div>
    <table class="">
      <tbody>
        <tr *ngFor="let Experiencia of experiencia">
          <td><h5>{{Experiencia.nombreE}}</h5></td>
          <td>{{Experiencia.descripcionE}}</td>
          <td *ngIf="isLogged"><button class="btn btn-outline-success" routerLink="/editexp/{{Experiencia.id}}">✍</button></td>
          <td *ngIf="isLogged"><button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">❌</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>