<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="d-flex justify-content-between">
      <p class="lead mx-3">EXPERIENCIA</p>
      <div class="ml-5">
        <button type="button" class="btn btn-outline-success"  routerLink="/nuevaexp" *ngIf="isLogged">
          Nueva experiencia 
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;" *ngFor="let Experiencia of experiencia">
      <img class="card-img-top" src="{{Experiencia.imgE}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{Experiencia.nombreE}}</h5>
        <p class="card-text">{{Experiencia.descripcionE}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{Experiencia.puestoE}}</li>
        <li class="list-group-item">{{Experiencia.fechaE}}</li>
        <li class="list-group-item" *ngIf="isLogged"><button class="btn btn-outline-success" routerLink="/editexp/{{Experiencia.id}}">✍</button><button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">❌</button></li>
      </ul>
    </div>
  </div>
</div>