<div class="container-fluid vh-100 pt-4 px-5 experiencia">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #form="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la Empresa</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE"[(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripción de la tarea desempeñada</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE"[(ngModel)]="descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="imgE">Imagen de la empresa</label>
                    <input type="text" class="form-control" id="imgE" name="imgE"[(ngModel)]="imgE" required>
                </div>
                <div class="form-group">
                    <label for="puestoE">Nombre del Puesto</label>
                    <input type="text" class="form-control" id="puestoE" name="puestoE"[(ngModel)]="puestoE" required>
                </div>
                <div class="form-group">
                    <label for="fechaE">Fecha en la que se desempeñaron las funciones</label>
                    <input type="text" class="form-control" id="fechaE" name="fechaE"[(ngModel)]="fechaE" required>
                </div>
                <button class="btn btn-info w-100 mt-2">
                    Agregar experiencia
                </button>
            </form>
        </div>
    </div>
</div>