<div class="container-fluid mt-5 ">
    <div class="d-flex justify-content-between">
    <p class="lead mx-3">SKILLS</p>
    <button type="button" class="btn btn-outline-success" routerLink="/nuevaskill" *ngIf="isLogged">
        Nueva skill 
    </button>
    </div>
    <div class="d-flex flex-wrap">
    <div class="container mx-0" style="max-width:45%;"  *ngFor="let skill of skill">
        <h6>{{skill.nombre}} - {{skill.porcentaje}}%</h6>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" [ngStyle]="{'width' : skill.porcentaje + '%','background-color': skill.color}" [ngStyle]=""></div>
        </div>
        <button *ngIf="isLogged"class="btn btn-outline-success" routerLink="/editskill/{{skill.id}}">✍</button>
        <button *ngIf="isLogged"class="btn btn-outline-danger" (click)="delete(skill.id)">❌</button>
    </div>
    </div>
</div>


<!-- <div class="container-fluid mt-5 ">
    <p class="lead mx-3">HARD SKILLS</p>
    <div class="container mx-0">
        <div class="row mx-2">
            <div class="col-md-3">
                <h3 class="progress-title">CSS3 - 80%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-red progress-bar-striped active" style="width:80%;"></div>
                </div>
                <h3 class="progress-title">JAVA - 75%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-orange progress-bar-striped active" style="width:75%;"></div>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="progress-title">JAVASCRIPT - 50%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-yellow progress-bar-striped active" style="width:50%;"></div>
                </div>
                <h3 class="progress-title">INGLÉS - 80%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-green progress-bar-striped active" style="width:80%;"></div>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="progress-title">BASES DE DATOS MySQL - 80%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-lightblue progress-bar-striped active" style="width:80%;"></div>
                </div>
                <h3 class="progress-title">HTML5 - 85%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:85%;"></div>
                </div>
            </div>
        <div class="col-md-3">
            <h3 class="progress-title">BOOTSTRAP - 95%</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-violet progress-bar-striped active" style="width:95%;"></div>
            </div>
            <h3 class="progress-title">GITHUB - 80%</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-black progress-bar-striped active" style="width:80%;"></div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 ">
    <p class="lead mx-3">SOFT SKILLS</p>
    <div class="container mx-0">
        <div class="row mx-2">
            <div class="col-md-3">
                <h3 class="progress-title">RESPONSABILIDAD - 100%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-orange progress-bar-striped active" style="width:100%;"></div>
                </div>
                <h3 class="progress-title">RESOLUCIÓN DE PROBLEMAS - 95%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-yellow progress-bar-striped active" style="width:95%;"></div>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="progress-title">AUTONOMÍA - 95%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-green progress-bar-striped active" style="width:95%;"></div>
                </div>
                <h3 class="progress-title">PROACTIVIDAD - 99%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-lightblue progress-bar-striped active" style="width:99%;"></div>
                </div>
            </div>
            <div class="col-md-3">
            <h3 class="progress-title">CAPACIDAD DE ANÁLISIS - 95%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:95%;"></div>
                </div>
                <h3 class="progress-title">TRABAJO EN EQUIPO - 85%</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-violet progress-bar-striped active" style="width:85%;"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->