<div class="container-fluid pt-5 vh-100">
    <div class="d-flex justify-content-center pt-4 ">
        <form class="formulario mt-5" #form="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="form-outline mb-4 mt-5 text-center">
                <label class="form-label " for="nombreUsuario">Usuario</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control form-control" [(ngModel)]="nombreUsuario" required placeholder="Ingrese su usuario" />
            </div>
            <div class="form-outline mb-3 text-center">
                <label class="form-label" for="password">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control form-control" [(ngModel)]="password" required placeholder="Ingrese la contraseña"/>
                
            </div>
            <div class="text-center d-flex justify-content-center mt-4 pt-2">
                <button type="submit" class="btn btn-info mb-3 ">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>
