*{
    font-family: 'Life Savers', cursive;
    font-weight: bold;
}
.vh-100{
    background-color: #35D0BA;
}
button{
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
}
.formulario{
    color: aliceblue;
    background-image: url(https://previews.123rf.com/images/maxkabakov/maxkabakov1602/maxkabakov160201629/52140629-concepto-de-protecci%C3%B3n-pixelada-icono-de-candado-cerrado-en-el-fondo-digital-copyspace-vac%C3%ADo-para.jpg);
    background-position: center;
    border-radius: 25px; 
    width: 40%;
}
input{
    width: 90%;
    margin-left: 5%;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 170, 136, 0.595);
    -webkit-box-shadow: 0 0 1px rgba(6, 151, 108, 0.759);
}

@media (max-width:560px){
    .formulario{
        width: 70%;
    }
}
