<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid py-3">
  <div class="d-flex justify-content-start">
    <a class="navbar-brand d-flex flex-wrap" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
      <img src= "../../../assets/imagenes/logo_ArgProg.jpg" width="30" height="30" alt="Logo ArgProg"> Argentina Programa</a>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class=" navbar-collapse" id="opciones">
    <div class="container blue circleBehind px-5">
      <ul class="navbar-nav d-flex flex-wrap justify-content-center align-items-center flex-grow-1">
        <li class="nav-link mx-0 px-3"><a href="#acercaDeMi">Información</a></li>
        <li class="nav-link mx-0 px-3"><a href="#educacion">Educación</a></li>
        <li class="nav-link mx-0 px-3"><a href="#skills">Skills</a></li>
        <li class="nav-link mx-0 px-3"><a href="#experiencia">Experiencia</a></li>
        <li class="nav-link mx-0 px-3"><a href="#proyectos">Proyectos</a></li>
      </ul>
    </div>
    <div class="d-flex justify-content-end row">
      <button type="button" class="btn btn-outline-success px-5 ml-4" (click)="login()" *ngIf="!isLogged">Iniciar Sesión</button>
      <button type="button" class="btn btn-outline-success px-5 ml-4" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
    </div>
  </div>
</nav>