<div class="container-fluid px-0 mx-0">
<nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between bg-dark">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src= "../../../assets/imagenes/logo_ArgProg.jpg" width="30" height="30" alt="Logo ArgProg">
      </a>
      <a class="navbar-brand " href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><small>Argentina Programa - #YoProgramo</small></a></nav>
      <div class="d-flex flex-wrap"> 
      <ul class="navbar mb-0 pb-0">
      <li class="nav-link mx-0">
          <span class="iconosContacto"> <a class="iconosLink" href="https://wa.link/tupwyv" target="_blank"><img src="../../../assets/imagenes/wsp.png"
              alt="Whatsapp"></a> </span>  
      </li>
      <li class="nav-link mx-0">
        <span class="iconosContacto"> <a class="iconosLink" href="https://github.com/debiabril" target="_blank"><img
            src="../../../assets/imagenes/github.png" alt="github"></a> </span>         
      </li>
      <li class="nav-link mx-0">
          <span class="iconosContacto"> <a class="iconosLink" href="https://www.linkedin.com/in/debora-abril-badosa/" target="_blank"><img
              src="../../../assets/imagenes/linkedinIcon.png" alt="LinkedIn"></a> </span>
      </li>
      <li class="nav-link mx-0">
          <span class="iconosContacto"> <a class="iconosLink" href="mailto:debora.badosa@gmail.com" target="_blank"><img
              src="../../../assets/imagenes/mailIcon.png" alt="Mail"></a> </span>         
      </li>
      </ul> 
      <a href="" class="btn btn-outline-success py-1 my-3 mx-5"onclick="logear()">Iniciar Sesión</a>
    </div>
  </nav></div>