<div class="row mt-3 px-3">
    <div class="col-lg-5 ">
        <div class="mt-3">
          <div class="float-end mt-0 pt-0">
        <div class="btn btn-outline-success display-none" onclick="editar_acercade()">
          <a href="#"class="btn-right">
            ✍
          </a>
        </div></div><p class="lead ">Acerca de mí</p>
        <div class="p-1" >
          <p id="text-acercade" class="mb-1 ">Desarrolladora Fullstack en proceso.. 🔜
            <br>Ex-estudiante de Fonoaudiología 👂👅💬 que fue atrapada por la Programación 💻
            <br>Amante de mi gato Leo 😻, los colores 🌈 y la música 🎵🎶
            <br>Cinéfila, seriéfila 🎥🎞 y gammer 🎮
          </p>
        </div> 
        <div>
          <input id="edit-acercade" class="display-none" type="text"  oninput="funcionAcercade(this.value)">
          <input type="file" id="file1" class="display-none" onchange="showFile(this)">
        </div>
      </div>
      </div>
    <div class=" col-lg-3 ">
        <div class=" mx-2 mt-3">
          <div class="float-end mt-0 pt-0">
          <div class="btn btn-outline-success display-none" onclick="editar_parrafoDatos()">
            <a href="#"class="btn-right">
              ✍
            </a>
          </div></div>
        <p class="lead ">Datos de contacto</p>
        <div class="p-0" >
          <p id="text-datos" class="mb-1">🌎📌 Rosario, Santa Fe, Argentina
            <br> 📱 341-2785360
            <br> 📧 debora.badosa@gmail.com</p>
            </div>
            <div>
              <input id="edit-datos" class="display-none" type="text" oninput="functionDatos(this.value)">
            </div>
        </div>
    </div>
    </div>