<div class="acercade">
<div class="d-flex justify-content-center">
  <p class="lead">ACERCA DE MÍ</p>
</div>
<div class="d-flex justify-content-center flex-wrap descripcion" >
  <p id="descripcion">{{persona.descripcion}}</p>
</div>
<div class="d-flex justify-content-center mt-2">
  <p class="lead">Datos de contacto</p>
</div>
<div class="d-flex justify-content-center" >
  <p id="celular">📱 {{persona.celular}}</p>
</div>
<div class="d-flex justify-content-center" >
  <p id="email">📧 {{persona.email}}</p>
</div>
<div class="d-flex justify-content-center" >
  <p id="ciudad">📌 {{persona.ciudad}}</p>
</div>
<div class="d-flex justify-content-center" >
  <p id="fechaNacimiento">🎉 {{persona.fechaNacimiento}}</p>
</div>
<button type="button" class="btn btn-outline-success w-100"  routerLink="/editarInformacion/1" *ngIf="isLogged">
  Editar Información personal
</button>
</div>
